.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  color: #212121;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-style: normal;
  margin: 0;
}

img {
  display: block;
  /* max-width: 100%; */
  height: auto;
}

header {
  background: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: black;
  border-bottom: 1px solid #ececec;
}

footer {
  background: #2f303a;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 31px;
}

.link:hover, .link:focus {
  color: #2196f3;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
}

.container__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.section--zero-pdng {
  padding-top: 0;
}

.section--purple {
  background: #f5f4fa;
}

@keyframes button-anime {
  0% {
    transform: scale(1.25);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(47, 48, 58, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* animation: button-anime 2s; */
  z-index: 1;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .backdrop__modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: auto;
  min-height: 581px;
  min-width: 528px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  fill: currentColor;
  align-self: center;
  width: 11px;
  height: 11px;
}

.button-modal-close:hover, .button-modal-close:focus {
  color: #2196f3;
  cursor: pointer;
  border: 1px solid #2196f3;
}

.form {
  padding: 40px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.form__field {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.form__input {
  height: 40px;
  margin: 0;
  padding: 6px 10px 6px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__label {
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form__input:hover {
  border: 1px solid #2196f3;
}

.form__input:focus {
  border: 1px solid #2196f3;
}

.form__field:focus-within {
  fill: #2196f3;
}

.form__field:hover .form__icon {
  fill: #2196f3;
  opacity: 1;
}

/* .current:hover::after,
.current:focus::after {
  transform: scale(1.5);} */
.form__icon {
  position: absolute;
  top: 53%;
  left: 3%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transform: translate(50%); */
}

.form__title {
  weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.form__field textarea {
  resize: none;
}

textarea:focus {
  border-radius: 4px;
}

textarea:hover {
  border: 1px solid #2196f3;
}

.form__field__form__input {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-weight: 400;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.form__field__form__input::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.form__check {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.form__check::before {
  content: "";
  width: 16px;
  height: 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid #212121;
  display: inline-block;
  vertical-align: middle;
  margin-right: 9px;
}

.form__policy:checked + .form__check::before {
  content: "";
  background-color: #2196f3;
  background-image: url(../icons/check.svg);
  vertical-align: middle;
  border-color: transparent;
  border-radius: 4px;
}

.form__check:hover::before,
.form__check:focus::before {
  border-radius: 4px;
  border-color: #2196f3;
}

.form__contract {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: underline;
}

.button-form {
  width: 200px;
  height: 50px;
  weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin-right: auto;
  margin-left: auto;
  background-color: #188ce8;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
}

.button-form:hover, .button-form:focus {
  background-color: #2196f3;
}

.icons {
  display: flex;
  justify-content: center;
  padding: 16px 32px 0 32px;
}

.icons__item {
  border-radius: 50%;
  display: flex;
  flex-basis: calc((100% - 30px) / 4);
  margin-right: auto;
}

.icons__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}

.icons__svg {
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
  width: 20px;
  height: 20px;
}

.icons__item:hover {
  background-color: #2196f3;
  border-radius: 50%;
}

.icons__item:hover:hover .icons__svg,
.icons__item:hover:focus .icons__svg {
  fill: #ffffff;
}

.icons__link:focus {
  outline: none;
  fill: #ffffff;
  background-color: #2196f3;
  border-radius: 50%;
}

.icons__link:focus:focus .icons__svg {
  fill: #ffffff;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: black;
  letter-spacing: 0.03em;
  margin: auto 0;
}

.logo__accent {
  --logo-accent: #2196f3;
  color: var(--logo-accent);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo--studio {
  color: #ffffff;
}

.button {
  display: inline-block;
  color: #ffffff;
  background-color: #188ce8;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
}

.button:hover, .button:focus {
  background-color: #2196f3;
}

.button-port {
  display: inline-block;
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 10px 32px;
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  height: 38px;
  min-width: 73px;
  left: 495px;
  padding: 6px 22px;
  border-color: transparent;
  transition-property: box-shadow, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-port:hover, .button-port:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.sbscrb__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-color: transparent;
  fill: currentColor;
  margin-right: 10px;
}

.sbscrb__button:hover, .sbscrb__button:focus {
  background-color: #2196f3;
}

/* navigation */
.nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  list-style: none;
  flex-wrap: wrap;
}

.nav__list {
  margin-left: 93px;
}

.connection__list {
  display: flex;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  list-style: none;
  flex-wrap: wrap;
}

.nav__list > .nav__header:not(:last-child) {
  margin-right: 50px;
}

.connection__list > .connection__mail:not(:last-child) {
  margin-right: 50px;
}

.nav__list .current {
  color: #2196f3;
}

.connection {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  list-style: none;
  flex-wrap: wrap;
  display: inline-block;
  align-items: center;
  margin-left: auto;
}

.connection__link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 31px;
  padding-bottom: 31px;
  align-items: center;
  display: flex;
}

.connection__icons {
  margin-right: 10px;
  fill: currentColor;
  height: 16px;
}

.connection__mail:last-child {
  margin-right: 50px;
}

.current {
  position: relative;
  text-decoration: none;
}

.current::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background: #2196f3;
  transition: width 0.3s ease-in-out;
  margin-top: 28px;
  border-radius: 2px;
  /* transform: translateY(28px); */
}

.current:hover::after, .current:focus::after {
  transform: scale(1.5);
}

.hero {
  margin: 0 auto;
  background: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  align-items: center;
}

.hero__title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid #C4C4C4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.profile {
  width: 1200 px;
  /* padding: 94px 0; */
  margin: 0 auto;
  display: flex;
}

.profile__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.profile__info {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.profile__block:not(:last-child) {
  margin-right: 30px;
}

.profile__block::before {
  display: block;
  content: "";
  background-size: 65.32px 70px;
  background-repeat: no-repeat;
  background-position: center;
  height: 120px;
  border: 1px solid transparent;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.bgimage-antena::before {
  background-image: url("../icons/antena.svg");
}

.bgimage-clock::before {
  background-image: url("../icons/clock.svg");
}

.bgimage-diagram::before {
  background-image: url("../icons/diagram.svg");
}

.bgimage-astronaut::before {
  background-image: url("../icons/astronaut.svg");
}

/* .profile-block {
  width: calc((100% - 3 * var(--main-margin)) / 4);
} */
.work {
  display: flex;
  flex-wrap: wrap;
}

.work__item {
  flex-basis: calc((100% - 90px) / 3);
  margin: auto;
}

.work__group {
  position: relative;
}

.work__text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
}

.team {
  display: flex;
  flex-wrap: wrap;
}

.team__content {
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.team__member {
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 1.19;
  color: #212121;
  font-weight: 500;
}

.team__prof {
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
}

.team__description {
  text-align: center;
  align-self: auto;
}

.team > .team__description {
  flex-basis: calc((100% - 120px) / 4);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.team > .team__description {
  margin-left: 30px;
  align-items: center;
}

.team__description:nth-child(1) {
  margin-left: 0;
}

.customers {
  display: flex;
  justify-content: space-between;
}

.customers__link {
  height: 92px;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
}

.customers__logo {
  height: 47px;
  width: 82.9px;
  justify-content: center;
  border-radius: 4px;
  fill: var(--social-icons-color);
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:hover {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.customers__link:focus {
  fill: #2196f3;
  outline-color: #2196f3;
}

/* .customers-flex > .customers-link {
  height: 100%;
  width: 100%;
} */
.footer {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}

.footer__address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 9px;
  margin-top: 20px;
  display: inline-block;
}

.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff99;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:first-child {
  margin-bottom: 9px;
}

.footer__link:hover, .footer__link:focus {
  color: #2196f3;
}

.join {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.join__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-top: 20px;
}

.join__item {
  border-radius: 50%;
  flex-basis: calc((100% - 30px) / 4);
  display: flex;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

.join__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}

.join__icons {
  fill: #ffffff;
  width: 20px;
  height: 20px;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.join__item:hover, .join__item:focus {
  background-color: #2196f3;
  border-radius: 50%;
}

.join__link:focus {
  outline: none;
  background-color: #2196f3;
  border-radius: 50%;
}

.join__link:hover .join__icons {
  fill: #ffffff;
}

.sbscrb {
  margin-left: auto;
}

.sbscrb__form {
  display: flex;
}

.sbscrb__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
}

.sbscrb__icon {
  bottom: -1;
  margin-left: 10px;
}

.sbscrb__label input {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 358px;
  height: 50px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.31;
  padding: 15px 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* .profile-block:hover::before {
  border: 1px solid $accent-color;
} */
/*# sourceMappingURL=main.css.map */