.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  color: #212121;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-style: normal;
  margin: 0;
}

img {
  display: block;
  /* max-width: 100%; */
  height: auto;
}

header {
  background: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: black;
  border-bottom: 1px solid #ececec;
}

footer {
  background: #2f303a;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 31px;
}

.link:hover, .link:focus {
  color: #2196f3;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 780px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.container__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .container__title {
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
  }
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.section--zero-pdng {
  padding-top: 0;
}

@media screen and (max-width: 768px) {
  .section--zero-pdng {
    display: none;
  }
}

.section--purple {
  background: #f5f4fa;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: black;
  letter-spacing: 0.03em;
  margin: auto 0;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo__accent {
  --logo-accent: #2196f3;
  color: var(--logo-accent);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo--studio {
  color: #ffffff;
}

.button {
  display: inline-block;
  color: #ffffff;
  background-color: #188ce8;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
}

.button:hover, .button:focus {
  background-color: #2196f3;
}

.button-port {
  display: inline-block;
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 10px 32px;
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  height: 38px;
  min-width: 73px;
  left: 495px;
  padding: 6px 22px;
  border-color: transparent;
  transition-property: box-shadow, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-port:hover, .button-port:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.sbscrb__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-color: transparent;
  fill: currentColor;
  margin-right: 10px;
}

.sbscrb__button:hover, .sbscrb__button:focus {
  background-color: #2196f3;
}

.menu__open {
  display: inline-block;
  border-color: transparent;
  background-color: transparent;
}

.menu__open:hover, .menu__open:focus {
  fill: #2196f3;
}

.menu__close {
  display: inline-block;
  border-color: transparent;
  background-color: transparent;
  height: 19px;
  width: 19px;
  z-index: 999;
  background: url(../icons/x.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu__close:hover,
.menu__close:focus {
  background: url(../icons/close_24px-hover.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* navigation */
.nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  list-style: none;
  flex-wrap: wrap;
}

.nav__list {
  margin-left: 93px;
}

@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }
}

.connection__list {
  display: flex;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  list-style: none;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .connection__list {
    display: none;
  }
}

@media screen and (min-width: 767px) and (max-width: 1200px) {
  .connection__list {
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 767px) and (max-width: 1200px) {
  .connection__mail {
    margin-left: auto;
  }
}

.nav__list > .nav__header:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 1200px) {
  .connection__list > .connection__mail:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__list .current,
.menu__list .current,
.menu__mail .current {
  color: #2196f3;
}

.connection {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  list-style: none;
  flex-wrap: wrap;
  display: inline-block;
  align-items: center;
  margin-left: auto;
}

.connection__link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 31px;
  padding-bottom: 31px;
  align-items: center;
  display: flex;
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .connection__link {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.connection__icons {
  margin-right: 10px;
  fill: currentColor;
  height: 16px;
}

@media screen and (min-width: 1200px) {
  .connection__mail:last-child {
    margin-right: 50px;
  }
}

.current {
  position: relative;
  text-decoration: none;
}

.current::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background: #2196f3;
  transition: width 0.3s ease-in-out;
  margin-top: 28px;
  border-radius: 2px;
  /* transform: translateY(28px); */
}

@media screen and (max-width: 767px) {
  .current::after {
    display: none;
  }
}

.current:hover::after, .current:focus::after {
  transform: scale(1.5);
}

@media screen and (min-width: 768px) {
  .menu__open {
    display: none;
  }
}

.footer.container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer.container {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer.container {
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer.container {
    align-items: baseline;
  }
}

.footer {
  width: 100%;
  flex-direction: column;
  display: flex;
}

@media screen and (min-width: 768px) {
  .footer {
    justify-content: space-around;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
  }
}

.footer__contacts {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 60px;
}

.footer__address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 9px;
  margin-top: 20px;
  display: inline-block;
}

.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff99;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:first-child {
  margin-bottom: 9px;
}

.footer__link:hover, .footer__link:focus {
  color: #2196f3;
}

.join {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .join {
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1200px) {
  .join {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
}

.join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.join__list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding-top: 20px;
}

.join__item {
  border-radius: 50%;
  display: flex;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (min-width: 480px) {
  .join__item {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

.join__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}

.join__icons {
  fill: #ffffff;
  width: 20px;
  height: 20px;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.join__item:hover, .join__item:focus {
  background-color: #2196f3;
  border-radius: 50%;
}

.join__link:focus {
  outline: none;
  background-color: #2196f3;
  border-radius: 50%;
}

.join__link:hover .join__icons {
  fill: #ffffff;
}

.sbscrb {
  width: 100%;
  align-items: center;
  margin-bottom: 60px;
}

.sbscrb__form {
  display: flex;
}

@media screen and (max-width: 1199px) {
  .sbscrb__form {
    flex-direction: column;
  }
}

.sbscrb__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
  text-align: center;
}

.sbscrb__icon {
  bottom: -1;
  margin-left: 10px;
}

.sbscrb__label input {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 50px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.31;
  padding: 15px 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1199px) {
  .sbscrb__label input {
    margin-bottom: 20px;
  }
}

/* .profile-block:hover::before {
  border: 1px solid $accent-color;
} */
.nav-portfolio {
  width: 100%;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.nav-portfolio__list {
  display: inline-block;
  justify-content: space-evenly;
}

.nav-portfolio .nav-portfolio__list + .nav-portfolio__list {
  margin-left: 8px;
  margin-bottom: 15px;
}

.nav-portfolio__list {
  text-align: left;
  align-self: left;
}

.experience {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.experience__list {
  width: 370px;
  cursor: pointer;
}

.experience__group {
  position: relative;
  overflow: hidden;
}

.experience > .experience__list {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.description {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.description > h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.description > p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.98;
  letter-spacing: 0.03em;
  color: #757575;
}

/* .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */
/* .link-port {
  display: inline-block;
} */
.overlay-prtfl {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease;
  overflow: auto;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.experience__list:hover .overlay-prtfl {
  transform: translatex(0);
}

.overlay-prtfl > p {
  font-size: 18px;
  line-height: 1.555;
  weight: 400;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.experience__list:hover, .experience__list:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
/*# sourceMappingURL=portfolio.css.map */