/* :root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --titles-text: black;
  --contacts-color: #ffffff99;
  --white: #ffffff;
  --background-color: #ffffff;
  --button-color: #188ce8;
  --black-accent: #2f303a;
  --icon-color: #afb1b8;
  --button-portfolio: #f5f4fa;
  --button-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
} */

/* hover profile */

/* Decorations */

/* Icons section */

/* customers */

/* button */

/* section */

/* footer */

/* Portfolio part */
