.experience {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  &__list {
    width: 370px;
    cursor: pointer;
  }
  &__group {
    position: relative;
    overflow: hidden;
  }
}
.experience > {
  .experience__list {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.description {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}
.description > {
  h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $title-text-color;
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.98;
    letter-spacing: 0.03em;
    color: $primary-text-color;
  }
}

/* .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */

/* .link-port {
  display: inline-block;
} */
.overlay-prtfl {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease;
  overflow: auto;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.experience__list:hover .overlay-prtfl {
  transform: translatex(0);
}
.overlay-prtfl > {
  p {
    font-size: 18px;
    line-height: 1.555;
    weight: 400;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
}
.experience__list {
  &:hover,
  &:focus {
    box-shadow: $button-shadow;
  }
}
