.nav-portfolio {
    width: 100%;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    @media screen and (max-width: 767px) {
        justify-content: left;
    }
    &__list {
        display: inline-block;
        justify-content: space-evenly;
    }
}

.nav-portfolio .nav-portfolio__list+.nav-portfolio__list {
    margin-left: 8px;
    margin-bottom: 15px;
}

.nav-portfolio__list {
    text-align: left;
    align-self: left;
}