.team {
  width: 100%;
   margin: 0 auto;
   
  @media screen and (min-width: 768px){
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    justify-content: space-between;
    // margin-right: -30px;
  }
  
  &__content {
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: $box-shadow;
    // margin-right: 30px;
  }
  &__member {
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 1.19;
    color: $title-text-color;
    font-weight: 500;
  }
  &__prof {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: $primary-text-color;
  }
  &__description {
    text-align: center;
    align-self: auto;
  }
  &__photo{
    width: 100%;
    display: block;
    height: auto;
    // margin-right: 30px;
  }
}


  .team__description {
  
   background: $white;
    box-shadow: $button-shadow;
    border-radius: 4px;
    margin-bottom: 30px;
   

    @media screen and (min-width: 768px){
      flex-basis: calc((100% - 30px)/2);
     
       }
       
       @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 90px)/4);
      }
  }


// .team > {
//   .team__description {
//     align-items: center;
//     @media screen and (min-width: 768px){
//       flex-basis: calc((100%-60px)/2);
   
    
//   }
// }
// .team__description:nth-child(1) {
//   margin-left: 0;
// }
