.work {
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex-basis: calc((100% - 90px) / 3);
    margin: auto;
  }
  &__group {
    position: relative;
  }
  &__text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    color: $white;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0;
  }
}
