.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: $titles-text;
  letter-spacing: 0.03em;
  margin: auto 0;

  &__accent {
    --logo-accent: #2196f3;
    color: var(--logo-accent);
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  &--studio {
    color: $white;
  }
}
