.backdrop {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(47, 48, 58, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* animation: button-anime 2s; */
  z-index: 1;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .backdrop__modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;

  overflow: auto;
  min-height: 581px;
  min-width: 528px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $white;
  color: black;

  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close {
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  fill: currentColor;
  align-self: center;
  width: 11px;
  height: 11px;
}
.button-modal-close {
  &:hover,
  &:focus {
    color: $accent-color;
    cursor: pointer;
    border: 1px solid $accent-color;
  }
}
