html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
}
a {
  color: $title-text-color;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  background-color: $background-color;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-style: normal;
  margin: 0;
}
img {
  display: block;
  /* max-width: 100%; */
  height: auto;
}
header {
  background: $white;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: $titles-text;
  border-bottom: 1px solid #ececec;
}
footer {
  background: $black-accent;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
