.link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 31px;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
